case $- in
    *i*) ;;
      *) return;;
esac

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

case "$TERM" in
    xterm-color|*-256color) color_prompt=yes;;
esac

export LANG=C.UTF-8

function proxy_set {
    xray="$HOME/.config/xray"
    proxy="$(cat $xray/_username):$(cat $xray/_password)@127.0.0.1"
    proxy_http="http://$proxy:$(cat $xray/_port_http)"
    export http_proxy=$proxy_http
    export https_proxy=$proxy_http
    export all_proxy=$proxy_http
}
function proxy_unset {
    unset http_proxy
    unset https_proxy
    unset all_proxy
}
proxy_set

source ~/.local/share/blesh/ble.sh

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/dh-nas-dev/tianze/miniforge3/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/dh-nas-dev/tianze/miniforge3/etc/profile.d/conda.sh" ]; then
        . "/dh-nas-dev/tianze/miniforge3/etc/profile.d/conda.sh"
    else
        export PATH="/dh-nas-dev/tianze/miniforge3/bin:$PATH"
    fi
fi
unset __conda_setup

if [ -f "/dh-nas-dev/tianze/miniforge3/etc/profile.d/mamba.sh" ]; then
    . "/dh-nas-dev/tianze/miniforge3/etc/profile.d/mamba.sh"
fi
# <<< conda initialize <<<

mamba activate utils
